.container {
  display: block;
  margin: 0 auto;
  width: 50%;
  margin-top: 6rem;
  svg {
    background-color: #024b9a;
    color: #ffffff;
    border-radius: 50%;
  }
  .btn {
    height: 3rem;
  }
  .btn-light {
    color: #adb5bd;
  }
  .btn-info {
    background-color: #ffffff;
    border: 1px solid #FF9E24;
    color: #FF9E24;
  }
  h4 {
    font-size: 2rem;
  }
  .form-control {
    border-top: none;
    border-right: none;
    border-left: none;
  }
  .form-control:focus {
    border-top: none;
    box-shadow: none;
  }
}
